:root{
    --color-main: rgb(149, 225, 211);
    --main-font-montserrat: "Montserrat", sans-serif;
    --main-font-roboto: "Roboto", sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type=“checkbox”].visually-hidden,
input[type=“radio”].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1210px;
    margin: 0 auto;
}

img{
    display: block;
}

/* /////////// HEADER ///////////  */

 /* NAVIGATION  */

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
} 

.navigation-logo{
    display: flex;
    font-family: var( --main-font-montserrat);
    text-decoration: none;
    font-size: 30px;
    color: #95e1d3;
    font-weight: 700;
}

.navigation-link{
    display: flex;
    justify-content: space-between;
    width: 490px;
    text-transform: uppercase;
    list-style: none;
}

.navigation-link-manu{
    font-family: var( --main-font-montserrat);
    text-decoration: none;
    color: #95e1d3;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    transition: all .2s ease;
}

.navigation-link-manu::after{
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #f38181;
    visibility: hidden;
    position: absolute;
    bottom: -10px;
    transition: all 0.3s ease;

    

}

.navigation-link-manu:hover {
    color: #f38181;
    transition-duration: 200ms;
    cursor: pointer;
    transition: all 0.3s ease;

    
    

}

.navigation-link-manu:hover::after{
    transition-duration: 200ms;
    visibility: visible;
}

/* //////////////////////////////////////////////////////////////////////////// */

 /* // MAIN //  */

 /* ////////  SECTION ////////  */

 .section{
     padding-top: 100px;
 }

 .services-item{
     text-align: center;
     margin-bottom: 66px;
 }

 .section-tittle{
     font-family: "Kaushan Script", sans-serif;
     font-weight: 400;
     font-size: 24px;
     margin-bottom: 32px;
     color: rgb(51, 51, 51);
    }
 
 .section-direction{
    font-family: var(--main-font-montserrat);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
 }

 .section-direction::after{
     display: block;     
     content: "";
     width: 60px;
     height: 3px;
     margin: 0 auto;
     margin-top: 35px;
     background-color: rgb(243, 129, 129);
     
 }

 /* //////////////////////////////////////////////// */

 /* //////////////  UL  SERVICES  ///////////// */

 .services-list{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;    
 }
 
 .services-list-item{
     position: relative;
     list-style: none;
     width: 335px;
     padding-left: 60px;
 }

 .services-list-item::before{
     position: absolute;
     top: 0;
     left: 0;
     display: inline-block;
     content: '';
     width: 31px;
     height: 32px;
     background-repeat: no-repeat;
 }
    
 .services-list-item-title{
     text-transform: uppercase;
     font-family: var( --main-font-montserrat);
     font-weight: 400;
     color: rgb(51, 51, 51);
     font-size: 14px;
     margin-bottom: 18px;
 }

 .services-list-item-description{
     font-family: var( --main-font-roboto);
     font-weight: 400;
     font-size: 15px;
     width: 276px;
     margin-top: 13px;
     color: rgb(153, 153, 153);
     margin-bottom: 54px;
     line-height: 24px;
 }

 .alarm::before{
    background-image: url(../img/icons/1ALARM.png);
    position: absolute;
}
.line-graphic::before{
   background-image: url(../img/icons/3LINE\ GRAPH.png);
   position: absolute;
}
.computer::before{
   background-image: url(../img/icons/5COMPUTER\ _\ OK.png);
   position: absolute;
}
.book::before{
   background-image: url(../img/icons/2BOOK\ 2.png);
   position: absolute;
}
.home::before{
   background-image: url(../img/icons/4HOME.png);
   position: absolute;
}
.image::before{
   background-image: url(../img/icons/6IMAGE.png);
   position: absolute;
}
  

 /* //////////////////  SECTION-TOP  /////////////////  */

 .section-top{
     margin-top: 54px;
 }

 
 .section-description{
     font-family: var( --main-font-roboto);
     font-weight: 400;
     margin-top: 13px;
     font-size: 15px;
     color: rgb(153, 153, 153);
     width: 940px;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 90px;
 }
 
/* ///////  CARDS ////////// */

.wrapper-list{
    display: flex;
    justify-content: space-between;
}

.wrapper-list-item{
    list-style: none;
}

.img-wrapper{
    position: relative;
    margin-bottom: 28px;

}
.social-list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-list-link{
    display: block;
    background-position: center;
    margin-right: 1px;
    height: 56px;
    width: 56px;
    background-repeat: no-repeat;
    background-color: rgb(252, 227, 138);
    transition-duration: 200ms;
    cursor: pointer;
}

.social-list-link:hover{
    background-color: #95e1d3;
}

.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: linear-gradient(90deg, rgba(252, 227, 136, .9) 0%, rgba(243, 129, 129, .9) 90%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;  
    background-clip: padding-box;
    box-shadow: 10px 10px #95e1d3;
    transform: translate(-10px, -10px);
    transition: all .5s linear;
}

.wrapper-list-item:hover .overlay{
    visibility: visible;
    opacity: 1;
} 

.wrapper-list-item:hover .photo-cards {
    transform: translate(-10px, -10px);
}

.photo-cards{
    transition: all .5s linear;
}

.facebook{
    background-image: url(../img/icons/site-social/1facebook.png);
}
.twitter{
    background-image: url(../img/icons/site-social/2twitter.png);
}
.google-plus{
    background-image: url(../img/icons/site-social/3pinterest.png);
}
.instagram{
    background-image: url(../img/icons/site-social/4instagram.png);
}

/* ////////////////////////////NAME AND TITTLE /////////////////////// */

.photo-cards-name{
    font-family: var( --main-font-montserrat);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(51, 51, 51);
    margin-bottom: 14px;
}

.photo-cards-tittle{
    font-family: var( --main-font-roboto);
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: rgb(153, 153, 153);
    text-align: center;
    margin-bottom: 80px;
}

/* /////////////////////FOOTER//////////////////////////////////////// */

.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e5e5e5;
    padding: 10px 0;
    align-items: baseline;
}

.footer-text{
    font-family: var( --main-font-montserrat);
    font-weight: 400;
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.footer-input{
    padding-left: 12px;
    font-family: var( --main-font-roboto);
    font-weight: 300;
    font-style: italic;
    width: 230px;
    height: 40px;
    color: #000000;
    border: 1px solid #e7e7e7;;
    border-right: none;
}

.footer-input::placeholder{
    color: #cccccc;
  }
  
  .footer-form{
      display: flex;
  }

.span{
    color: red;
    list-style: none;
}

.footer-bottom{
    font-family: var( --main-font-montserrat);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    height: 40px;
    width: 150px;
    color: rgb(255, 255, 255);
    background-color: rgb(149, 225, 211);
    border: none;
}