* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type=“checkbox”].visually-hidden,
input[type=“radio”].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}


.header {
    padding: 40px 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.logo {
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 30px;
    color: black;
}

.logo-first {
    color: #1abc9c;
    font-weight: 900;
}

.navigation {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 8px;
}

.navigation li {
    float: left;
    text-transform: uppercase;
}

.navigation li:not(:last-child) {
    margin-right: 40px;
}

.menu {
    text-decoration: none;
    color: black;
    font-family: "OpenSans", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.menu:hover {
    color: #1abc9c;
}

.slider {
    position: relative;
    display: block;
}

.slide-image {
    max-width: 100%;
    height: auto;
}

.slide-text {
    position: absolute;
    top: 38%;
    width: 800px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto";
    color: white;
}

.slide-text h2 {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 12px;
}

.slide-text h4 {
    font-weight: 400;
    font-size: 24px;
}

.slider-ctrl {
    position: absolute;
    background-color: rgb(78, 198, 171);
    opacity: 0.651;
    background-position: center;
    width: 104px;
    height: 104px;
    background-repeat: no-repeat;
}

.slider-buttons {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-ctrl-right {
    right: 0;
    background-image: url(../img/right.png);
    border: none;
}

.slider-ctrl-left {
    background-image: url(../img/left.png);
    left: 0;
    border: none;
}

.items {
    background-color: #e9f0fd
}

.feature {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #515151;
    padding-top: 100px;
    margin-bottom: 120px;
}

.feature::after {
    display: block;
    content: "";
    height: 6px;
    width: 160px;
    background: #85dbca;
    margin: 0 auto;
    margin-top: 30px;
}

.elements {
    position: relative;
    display: inline-block;
    width: 256px;
}

.elements:not(:nth-child(4n)) {
    margin-right: 24px;
}

.buttons-bottom {
    left: 0;
    border: none;
}



 .add {
    height: 50px;
    width: 166px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;    
    height: ;
    color: #ffffff;
} 

.add{
    background-image: url(../img/icons/add.png);
    background-color: #323232;
    background-repeat: no-repeat;
    background-position: left;
    border: 1px solid white;
    font-family: 'OpenSans' serif;
    font-weight: 400;
    padding-left: 20px;
    cursor: pointer;
    background-position: 10px;
    font-size: 14px;
}

.name {
    float: left;
    font-family: "Roboto";
    font-weight: 900;
    bottom: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 100px;
    margin-bottom: 120px;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #323232;
    height: 40px;
    width: 200px;
}

.price {
    float: right;
    height: 100%;
    width: 54px;
    bottom: 0;
    color: white;
    text-transform: uppercase;
    background-color: #8c8c8c;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    right: 0;
    padding: 10px;
    padding-bottom: 10px;
}

.name:hover {
    background-color: #1abc9c;
}

.price:hover {
    background-color: #7fd9c7;
}

.center {
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 104px;
 }

 .overlay{
     display: none;
 }
  
 .clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.heart{
    background-image: url(../img/icons/hurt.png);
}

.arrow{
    background-image: url(../img/icons/arrow.png);}

.clock{
    background-image: url(../img/icons/clock.png);
}

.buttons{
    display: inline-block;
    color: #323232;
    height: 50px;
    width: 50px;
    background-color: #323232;
    /* background-color: transparent; */
    background-repeat: no-repeat;
    /* position: relative; */
    border: 1px solid white;
    background-position: center;
    cursor: pointer;
    margin-right: 2px;
    margin-bottom: 8px;

}

.buttons:hover{
    background-color: #1abc9c;
}


