.services-top{
    padding-top: 54px;
}

.titles__description{
    font-family: $main-font-roboto;
    font-weight: 400;
    margin-top: 13px;
    font-size: 15px;
    color: rgb(153, 153, 153);
    width: 940px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 90px;
    line-height: 24px;
}


/* //////////CARDS//////// */


.cards-wrapper__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    &-item {
        list-style: none;
        width: 380px;
    }

    &-img {
        position: relative;
        margin-bottom: 28px;
    }

    &-item:hover {
        visibility: visible;
        opacity: 1;
        transform: translate(-10px, -10px);
        transition: all .5s linear;

        & .overlay{
            visibility: visible;
            opacity: 1;
            -webkit-transform: translate(-10px, -10px);
                -ms-transform: translate(-10px, -10px);
                    transform: translate(-10px, -10px);
            -webkit-transition: all .5s linear;
            -o-transition: all .5s linear;
            transition: all .5s linear;
        }


        & .cards-wrapper__lists-photos {
            transform: translate(-10px, -10px);
            transition: all .5s linear;
        }
        
    }


    &-photos {
        -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    }

    &-photo-name {
    font-family: $main-font-montserrat;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(51, 51, 51);
    margin-bottom: 14px;
    }

    &-photo-tittle {
        font-family: $main-font-roboto;
        font-weight: 300;
        font-style: italic;
        font-size: 15px;
        color: rgb(153, 153, 153);
        text-align: center;
        margin-bottom: 80px;
    }
}


.overlay{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    background: -webkit-gradient(linear, 
    left top, right top, 
    from(rgba(252, 227, 136, .9)), 
    color-stop(90%, rgba(243, 129, 129, .9)));
    background: -o-linear-gradient(left, 
    rgba(252, 227, 136, .9) 0%, 
    rgba(243, 129, 129, .9) 90%);
    background: linear-gradient(90deg, 
    rgba(252, 227, 136, .9) 0%, 
    rgba(243, 129, 129, .9) 90%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;  
    -webkit-box-shadow: 10px 10px #95e1d3;  
            box-shadow: 10px 10px #95e1d3;
}

.social-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;

    &__link {
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    margin-right: 1px;
    height: 56px;
    width: 56px;
    background-repeat: no-repeat;
    background-color: rgb(252, 227, 138);
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    cursor: pointer;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;

    &:hover {
        background-color:  #f38181;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    }
    }

    &__icons {
        fill: rgb(243, 129, 129);
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    width: 25px;
    height: 25px;
    }

    &__item:hover {
        color: red;
    list-style: none;
    text-decoration: none;
        & .social-list__icons{
            fill: rgb(255, 255, 255);
        }
    }
}


