@media (min-width:768px){

    .container{
        width: 748px;
    }

    .header{
        background-image: url(../img/bg_img_header/bg_image_tablet.jpg);
        padding-top: 38px;
        padding-bottom: 234px;
    }

    .holidays_link {
        padding: 12px 24px;
        width: 226px;
        }

    .navigation_button{
        margin: 0;
    }

    .logo_link{
         margin: 0;
    }

    .navigation{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 150px;
    }

    .header_holidays{
        font-size: 52px;
        width: 478px;
        margin-bottom: 40px;
    }

    .holidays_text{
        font-size: 24px;
        margin-bottom: 34px;
    }

    .services_title{
        margin-bottom: 32px;
    }
/* //////////////////ul//////////////// */
    .services_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 38px;
    
    }
/* ////////////// li//////////////////// */

    .services_list_item{
        padding-left: 30px;
    }


    .services_list-item:nth-child(2){
       order: 1;
    }

    .services_list-item:nth-child(4){
        order: 2;
     }

     .services_list-item:not(:nth-last-child(-n+2)){
        margin-bottom: 30px;
     }

    .services_link{
        padding: 12px 30px 10px 30px;
        width: 192px;
    }

}


@media (min-width:960px){
    .container{
        width: 940px;
    }
    .header{
        background-image: url(../img/bg_img_header/bg_image_desktop.jpg);
    }

    .services_list{
        display: flex;
        justify-content: space-between; 
    }

    .section {
        padding-bottom: 72px;
    }
}

