@media (min-width:48rem){

    .container{
        width: 46.75rem;
    }



    .header{
        background-image: url(../img/bg_img_header/bg_image_tablet.jpg);
        padding-top: 2.375rem;
        padding-bottom: 14.625rem;
    }

    .holidays_link {
        padding: 0.75rem 1.5rem;
        width: 15.9375rem;
        letter-spacing: 0.05rem;
        }

    .navigation_button{
        margin: 0;
    }

    .logo_link{
         margin: 0;
    }

    .navigation{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 9.375rem;
    }

    .header_holidays{
        font-size: 3.25rem;
        width: 30.75rem;
        margin-bottom: 2.5rem;
    }

    .holidays_text{
        font-size: 1.5rem;
        margin-bottom: 2.125rem;
    }

    .services_list-item:not(:last-child){
        margin-bottom: 0;
    }

    .services_title{
        margin-bottom: 2rem;
    }

    .services_list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 30rem;
        margin: 0 auto;
        margin-bottom: 2.5rem;
    }

    .services_list-item{
        width: 44%;
    }

    .services_list-item:nth-child(2){
       order: 1;
    }

    .services_list-item:nth-child(4){
        order: 2;
     }

     .services_list-item:nth-child(odd){
        margin-bottom: 1.875rem;
     }

    .services_link{
        padding: 0.75rem 1.875rem 0.625rem 1.875rem;
        width: 11.875rem;
        letter-spacing: -0.05rem;
        margin: 0 auto;
    }
}
@media (min-width:48rem) and (max-width:59.9375rem ){


    .navigation{
        padding: 0 2.5rem;
    }
}

@media (min-width:60rem){
    .container{
        width: 58.75rem;
    }

    .header{
        background-image: url(../img/bg_img_header/bg_image_desktop.jpg);
    }

    .services_list{
        display: flex;
        justify-content: space-between; 
        width: 0;
    }

    .services_list{
        width: 58.75rem;
        margin-bottom: 2.5rem;
        padding-bottom: 0;
    }

    .services_list-item:nth-child(odd){
        margin-bottom: 0rem;
     }
    
    .services_list-item{
        width: 25%;
    }

    .section {
        padding-bottom: 4.5rem;
    }
    
}