.container {
  width: 900px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

.navigation {
  text-align: center;
}

ul {
  padding-inline-start: 0;
}

header {
  margin: 0 auto;
  font-size: 0;
  padding-top: 83px;
  padding-bottom: 102px;
}

.header li {
  display: inline-block;
  margin-right: 122px;
  font-size: 14px;
}


.header li:last-child {
  margin-right: 0px;
}

.list {
  font-size: 0;
  padding-bottom: 58px;
}

a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
}

a:hover {
  color: white;
  background-color: blue;
}

.item {
  display: inline-block;
  width: 420px;
  margin-bottom: 130px;
  text-align: justify;
  font-family: "Playfair Display", serif;
}

img {
  margin-bottom: 32px;
}

.item:nth-child(odd) {
  margin-right: 60px;
}

.item:nth-child(5) {
  margin-bottom: 0;
}

.item:nth-child(6) {
  margin-bottom: 0;
}

.label {
  font-family: "Ubuntu";
  text-transform: uppercase;
  opacity: 0, 5;
  margin-bottom: 32px;
  font-size: 14px;
  color: rgb(180, 173, 158);
}

h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 36px;
  color: rgb(98, 98, 98);
}

p {
  font-size: 14px;
  line-height: 24px;
  color: rgb(98, 98, 98);
}

.button {
  background-color: #fff;
  width: 166px;
  height: 60px;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: rgb(98, 98, 98);
  display: block;
  margin: 0 auto;

}

.button:hover {
  color: white;
  background-color: blue;
}

.click {
  padding-bottom: 70px;
}














































































.visually-hidden:not(:focus):not(:active),
input[type=“checkbox”].visually-hidden,
input[type=“radio”].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 900;
  margin: 0 auto;
}